<div class="footer">
  <div class="nav">
    <div class="row">
      <div class="col span_6">
        <table>
          <tr>
            <td>
              <ul class="menu">
                <li><a href="/about">About</a></li>
                <li><a href="/testimonies">Testimonies</a></li>
                <li><a href="/resources">Resources</a></li>
              </ul>
            </td>

            <td>
              <ul class="menu">
                <li><a href="/privacy">Privacy</a></li>
                <li><a href="/terms">Terms of Use</a></li>
                <li><a href="http://adventist.org" target="_blank">Adventist.org</a></li>
              </ul>
            </td>
          </tr>
        </table>
      </div>
      <div class="col span_6">
        <img class="adventech" src="images/made-by-adventech.png" />
      </div>
    </div>
  </div>
  <div class="copyright">
    <p>Copyright © 2016, General Conference of Seventh-day Adventists.</p>
  </div>
</div>
</div>
<script src="scripts/scripts.js"></script>
</body>
</html>