<!doctype html>
<html lang="en-us">
<head>
  <title>Public Campus Ministry - General Conference of Seventh Day Adventists</title>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="description" content="Official website for Public Campus Ministry of General Conference of Seventh Day Adventists" />

  <meta itemprop="name" content="Public Campus Ministry - General Conference of Seventh Day Adventists">
  <meta itemprop="description" content="Official website for Public Campus Ministry of General Conference of Seventh Day Adventists">
  <meta itemprop="image" content="http://gc-pcm.herokuapp.com/images/snippet.jpg">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@FollowMeSDAM">
  <meta name="twitter:title" content="Public Campus Ministry - General Conference of Seventh Day Adventists">
  <meta name="twitter:description" content="Official website for Public Campus Ministry of General Conference of Seventh Day Adventists">
  <meta name="twitter:creator" content="@Jiwan4ever">
  <meta name="twitter:image:src" content="http://gc-pcm.herokuapp.com/images/snippet.jpg">

  <meta property="og:title" content="Public Campus Ministry - General Conference of Seventh Day Adventists" />
  <meta property="og:type" content="article" />
  <meta property="og:url" content="http://gc-pcm.herokuapp.com" />
  <meta property="og:image" content="http://gc-pcm.herokuapp.com/images/snippet.jpg" />
  <meta property="og:description" content="Official website for Public Campus Ministry of General Conference of Seventh Day Adventists." />

  <meta name="application-name" content="Public Campus Ministry">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-TileImage" content="/images/icon/mstile-144x144.png">
  <meta name="msapplication-config" content="/images/icon/browserconfig.xml">
  <meta name="theme-color" content="#ffffff">

  <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/images/icon/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/images/icon/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/images/icon/manifest.json">
  <link rel="mask-icon" href="/images/icon/safari-pinned-tab.svg" color="#5bbad5">
  <link rel="shortcut icon" href="/images/icon/favicon.ico">
  <meta name="apple-mobile-web-app-title" content="Public Campus Ministry">

  <link rel="stylesheet" href="style/main.css">
</head>
<body>

<div class="overlay">
  <div class="video">
    <iframe src="https://www.youtube.com/embed/DiZLBrPealc" frameborder="0" allowfullscreen></iframe>
  </div>

  <div class="register-form">

    <h2>Register your campus</h2>

    <div class="row">
      <form>
        <div class="col span_6">
          <label>
            Country
            <input type="text" placeholder="Country" tabindex="1">
          </label>
          <label>
            City
            <input type="text" placeholder="City" tabindex="2">
          </label>
          <label>
            School name
            <input type="text" placeholder="School name" tabindex="3">
          </label>
          <label>
            Public Campus Name
            <input type="text" placeholder="Public Campus Name" tabindex="4">
          </label>
          <label>
            Campus Ministry Email
            <input type="text" placeholder="Campus Ministry Email" tabindex="5">
          </label>
          <label>
            Number of Active members
            <input type="text" placeholder="Number of Active members" tabindex="6">
          </label>
        </div>

        <div class="col span_6">
          <label>
            Website
            <input type="text" placeholder="Website" tabindex="7">
          </label>
          <label>
            Facebook Page
            <input type="text" placeholder="Facebook page" tabindex="8">
          </label>
          <fieldset>
            <legend>Contact Info</legend>
            <label>
              Name
              <input type="text" placeholder="Name" tabindex="9">
            </label>
            <label>
              Email
              <input type="text" placeholder="Email" tabindex="10">
            </label>
            <label>
              Phone
              <input type="text" placeholder="Phone" tabindex="11">
            </label>
          </fieldset>

          <button type="submit" class="button">Register</button>
        </div>
      </form>
    </div>
  </div>
  <span class="close-overlay">×</span>
</div>

<div class="wrapper">
  <div class="head">
    <div class="nav">
      <div class="row">
        <div class="col span_4">
          <img class="logo" src="images/logo.png" />
        </div>
        <div class="col span_8">
          <ul class="menu">
            <li><a href="/about">About</a></li>
            <li><a href="/testimonies">Testimonies</a></li>
            <li><a href="/resources">Resources</a></li>
            <li class="register"><a href="">Register</a></li>
          </ul>
        </div>
      </div>

      <div class="hero">
        <h1 class="verse">“Be ye followers of me, even as I also am of Christ.”</h1>
        <h2 class="verse-ref">1 Corinthians 11:1</h2>

        <div class="cta">

          <div class="hero-button watch-video">
            ► Watch Video
          </div>
        </div>
        &nbsp;
      </div>
    </div>
  </div>